#home {
	text-align: center;
	#home-splash {
		#header {
			transition: var(--transition-longer);
			color: var(--primary-color);
			font-style: italic;
			font-weight: bold;
			font-size: 4rem;
		}

		&:hover #header {
			transform: translate(9px, -9px);
			color: #a1ddf4;
			text-shadow:
				-3px 3px 0 #1998d5,
				-6px 6px 0 #ffe96b,
				-9px 9px 0 #ee4043;
		}
	}
}
