img {
	transition: var(--transition-longer);

	&:not(.fancybox-image, .no-hover, &[src*="#no-hover"]) {
		cursor: zoom-in;

		&:hover {
			transform: scale(1.1);
			box-shadow: var(--shadow-raised);
			border-radius: 0;
		}
	}
}

img:not(.fancybox-image),
video {
	display: block;
	margin: 1rem auto;
	box-shadow: var(--shadow);
	border-radius: var(--rounded-corner);
	max-width: 100%;

	&.full,
	&[src*="#full"] {
		width: 100%;
	}

	&.pixels,
	&[src*="#pixels"] {
		image-rendering: pixelated;
	}

	&.transparent,
	&[src*="#transparent"] {
		box-shadow: none;
		border-radius: 0;

		&:hover {
			box-shadow: none;
		}
	}
}

#gallery {
	column-count: 3; /* Number of columns */
	column-gap: 1em; /* Gap between columns */
	width: 90%;
	margin: 0 auto;
  }
  
  .gallery-item {
	break-inside: avoid; /* Prevents breaking images across columns */
	margin-bottom: 1em; /* Space between images */
  }
  
  .galleryPhoto {
	width: 100%;
	height: auto;
	display: block;
  }