#site-footer {
        margin-top: 6rem;
        padding: 3rem 0 3rem;
        text-align: center;
        p {
                margin: auto;
                padding: 0.5rem;
                max-width: min(var(--container-width) + 10rem, 90%);
                color: var(--primary-color);
                font-family: var(--font-monospace-code);
        }

        details {
                all: unset;
                margin: 0 auto;
                font-size: 0.8rem;
        }
}
