 @use "../themes/duckquill/sass/mods/modern-hr";
 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-size: 1.05rem;
 }
.container {
  width: min(730px, 90%);
 }

 @mixin theme-variables {
   :root {
     @content("light");
   }

   [data-theme="dark"] {
     @content("dark");
   }

   @media (prefers-color-scheme: dark) {
     :root:not([data-theme="light"]) {
       @content("dark");
     }
   }
 }

@include theme-variables using ($theme) {
   @if $theme =="dark" {
     --orange-fg: rgb(255 175 85);
   }
   @else {
     --orange-fg: #ee6132;
   }
 }


h2 {
    font-size: 1.8rem;
}

code:not(pre code) {
        color: var(--orange-fg);
}

pre code {
  font-size: .95em;
}

html
{
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.colorize,
colorize
{
    color: var(--accent-color);
}

hr
{
    width: 60%;

    &::after {
        content: none;
    }
}

#breadcrumb-container {
        opacity: 60%;
        font-size: .8rem;
        margin-bottom: -1rem;
        a {
                color: var(--fg-muted-4);
                text-decoration: none;
                font-weight: 400;
                font-family: var(--font-monospace-code);
                &:hover {
                        color: var(--accent-color);
                        transition: var(--transition);
                }
        }
        #active-page {
                color: var(--accent-color);
                &:hover {
                        opacity: 90%;
                }
        }
}

.hoverglitch {
    display: inline-block;
    transition: var(--transition-longer);
}
.hoverglitch:hover,
.glitched {
    transform: translate(6px, -6px);
    color: #a1ddf4;
    text-shadow:
            -3px 3px 0 #1998d5,
            -6px 6px 0 #ffe96b,
            -9px 9px 0 #ee4043;
}
