@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #13082b;
}


html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: hsla(0, 0%, 46%, 0.5) transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 46%, 0.5);
  border-radius: 8px;
}

/* Hero Section */
.hero-section {
  height: 100vh;
  /* Make the hero section take up the entire viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*filter: blur(1.2px);*/
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 8, 43, 0.76);
  /* Semi-transparent black overlay */
}

.hero-content {
  color: white;
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.hero-content p {
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  margin-bottom: 40px;
  color: #cdd6f4;
}

.social-links {
  flex-direction: row;
  align-self: center !important;
  justify-content: center;
  column-gap: 64px;
  margin-bottom: 40px;
  max-width: 100%;
  align-items: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.social-links a {
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: ease .2s;
}

.social-links a:hover {
  color: #b48ead;
}

.internal-links {
  flex-direction: row;
  align-self: center !important;
  justify-content: center;
  column-gap: 100px;
  margin-top: 20px;
  max-width: 100%;
  align-items: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.internal-links a {
  color: #ebbcba;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: ease .2s;
}

.internal-links a:hover {
  color: #e1e8ff;
}

/* Body Section */
.body-section {
  padding: 2rem;
  width: 80vmin;
  margin: auto;
  color: #e1e8ff;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
}

.body-section h2 {
  color: #cdd6f4;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.body-section p {
  margin-bottom: 20px;
  line-height: 1.7;
}


/* Mobile responsive design */

/* Media Queries */
@media screen and (max-width: 846px) {
  .hero-content h1 {
    font-size: 64px;
    margin-bottom: 10px;
  }

  .hero-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .social-links {
    column-gap: 32px;
    margin-bottom: 20px;
  }

  .social-links a {
    font-size: 14px;
  }

  .internal-links {
    column-gap: 50px;
    margin-top: 10px;
  }

  .internal-links a {
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 568px) {
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: auto;
  }


  .hero-content p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .internal-links {
    row-gap: 8vw;
    flex-direction: column;
    align-items: center;
  }

  .internal-links a {
    font-size: 16px;
  }

  .body-section p {
    font-size: 14px;
  }
}