<head>
  <meta charset="utf-8">
  <title>Bedrock</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="robots" content="index, follow">
  {% if page.title %}
  {% set title = page.title %}
  {% elif section.title %}
  {% set title = section.title %}
  {% elif config.title %}
  {% set title = config.title %}
  {% endif %}
  {% if page.extra.author %}
  {% set author = page.extra.author %}
  {% elif section.extra.author %}
  {% set author = section.extra.author %}
  {% elif config.extra.author %}
  {% set author = config.extra.author %}
  {% endif %}
  {% if page.description %}
  {% set description = page.description | truncate(length=150) %}
  {% elif section.description %}
  {% set description = section.description | truncate(length=150) %}
  {% elif config.description %}
  {% set description = config.description | truncate(length=150) %}
  {% endif %}
  {% if page.extra.image %}
  {% set image = get_url(path=page.extra.image, trailing_slash=false) %}
  {% elif section.extra.image %}
  {% set image = get_url(path=section.extra.image, trailing_slash=false) %}
  {% elif config.extra.favicon %}
  {% set image = get_url(path=config.extra.favicon, trailing_slash=false) %}
  {% endif %}
  {% if page.permalink %}
  {% set url = page.permalink %}
  {% elif section.permalink %}
  {% set url = section.permalink %}
  {% elif config.base_url %}
  {% set url = config.base_url %}
  {% endif %}
  {% if title %}
  <title>{{ title }}</title>
  {% endif %}
  {% block metatags %}
  {% if title %}
  <meta name="title" content="{{ title }}">
  {% endif %}
  {% if author %}
  <meta name="author" content="{{ author }}">
  {% endif %}
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url | safe }}">
  {% if title %}
  <meta property="og:site_name" content="{{ config.title }}">
  {% endif %}
  {% if title %}
  <meta property="og:title" content="{{ title }}">
  {% endif %}
  {% if description %}
  <meta property="og:description" content="{{ description }}">
  {% endif %}
  {% if image %}
  <meta property="og:image" content="{{ image }}">
  {% endif %}
  {% set twitter_card = config.extra.twitter_card | default(value=true) %}
  {% if twitter_card != false %}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ url | safe }}">
  {% if title %}
  <meta property="twitter:title" content="{{ title }}">
  {% endif %}
  {% if description %}
  <meta property="twitter:description" content="{{ description }}">
  {% endif %}
  {% if image %}
  <meta property="twitter:image" content="{{ image }}">
  {% endif %}
  {% endif %}
  <link rel="canonical" href="{{ url | safe }}">
  {% if image %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}">
  {% endif %}
  {% endblock metatags %}

  <link rel="stylesheet" type="text/css" href="/css/index.css" />

</head>

<body>
  <div class="hero-section">
    <div class="hero-image">
      <img src="img/hero-bg.jpg" alt="UT Austin Tower">
      <div class="overlay"></div>
    </div>
    <div class="hero-content">
      <h1>Samien Rahman</h1>
      <p>Electrical Engineer (nerd)</p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/samienr/">LinkedIn</a>
        <a href="https://github.com/iNewbSkrewb/">Github</a>
        <a href="https://www.youtube.com/@sorrational">YouTube</a>
        <a href="https://instagram.com/samienr">Instagram</a>
      </div>

      <div class="internal-links">
        <a href="#about">About</a>
        <a href="{{ get_url(path='@/Projects/_index.md') }}">Projects</a>
        <a href="https://notebook.samienr.photography">Notebook</a>
        <a href="{{ get_url(path='@/Photography/_index.md') }}">Photography</a>
        <a href="{{ get_url(path='Resume.pdf') }}">Resume</a>
      </div>
    </div>
  </div>

  <div class="body-section">
    <h2 id="about">Hi, I'm Samien.<br>I like making cool things.</h2>
    <p>I'm currently working on my Bachelor's degree in Electrical and Computer Engineering at <a
        href="https://www.ece.utexas.edu/"><strong><span style="color: #bf5700;"><u>The University of Texas at
              Austin,</u></span></strong></a> where I am also an undergraduate research assistant in <span
        style="color: #bf5700;"><a style="color: #bf5700;"
          href="https://www.ece.utexas.edu/people/faculty/daniel-wasserman"><strong><u>Dan
              Wasserman</u>'s</strong></a>
        <a style="color: #bf5700;" href="https://sites.utexas.edu/wasserman/"><strong><u>Mid-IR Photonics
              Lab</u>.</strong></a></span> As of now, I am interested in computer architecture, RF, and signal processing.</p>

    <p>I enjoy <strong><a href="{{ get_url(path='@/Photography/_index.md') }}"><span
            style="color: #9ccfd8;"><u>photography</u></span></a></strong> and
      designing+building
      ergonomic
      <strong><span style="color: #9ccfd8;"><u>keyboards</u></span></strong>, and also recently started tinkering with
      a<span style="color: #9ccfd8;"> homelab server</span>.
    </p>

    <p>When I have a little free time, I like <span style="color: #9ccfd8;">climbing</span>, watching <span
        style="color: #9ccfd8;">films</span>, and making <span style="color: #9ccfd8;">digital art</span>.</p>

    <p>When I have A LOT of free time, I often work on animations that explain mathematical or engineering concepts
      using
      Grant Sanderson's (3Blue1Brown) <a href="https://www.manim.community/"><strong><span
            style="color: #c4a7e7;"><u>manim</u></span></strong></a> Python library and Adobe<span
        style="color: #c4a7e7;"> After Effects</span>.</p>

    <p>If you have any inquiries or would just like to say hello, feel free to <strong><span
          style="color: #ebbcba;"><u>reach out!</u></span></strong> I'd love to hear from you.</p>
  </div>
</body>
