{% extends "base.html" %}

{% block content %}
<div id="home-splash">
    <h1>samienr</h1>
</div>
<h2>Electrical nerd and photographer.</h2>
<div class="crt scanlines">
<pre>
                    .s.s.              
               , `'`Y8bso.             
  <a href="{{ get_url(path='../tags/projects') }}">Projects</a>  ,d88bso y'd8l              
            "`,8K j8P?*?b.             
            ,bonsai_`o.o     <a href="{{ get_url(path='@/notebook/_index.md') }}">Notebook</a>  
        ,r.osbJ--','  e8b?Y..          
        j*Y888P*{ `._.-'" 888b         
        `"'``,.`'-. `"*?*P"            
        db8sld-'., ,):5ls.             
    &lt;sd88P,-d888P'd888d8888Rdbc        
    `"*J*CJ8*d8888l:'  ``88?bl.o       
    .o.sl.rsdP^*8bdbs.. *"?**l888s.    
    ,`JYsd88P88ls?\**"`*`-. `  ` `"`   
dPJ88*J?P;Pd888D;=-.  -.l.s.           
.'`"*Y,.sbsdkC l.    ?(     ^. <a href="{{ get_url(path='@/resume/index.md') }}">Resume</a>  
    .Y8*?8P*"`       `)` .' :          
        `"`         _.-'. ,   k.       
<a href="{{ get_url(path='@/photography/index.md') }}">Photography</a>    (    : '  ('            
        _______ ,'`-  )`.` `.l  ___    
    r========-==-==-=-=-=------------=7
    `Y - --  ---- -- -   .          ,' 
        :                        '   : 
        \-..  .. .. . . . . .     ,/   
    .-&lt;=:`._____________________,'.:>-.
    L______                        ___J
            ````````````````````````   
</pre>
</div>
<p>See <a href="{{ get_url(path='@/about/index.md') }}">About</a> for more info.</p>
{% endblock content %}
