{% extends "base.html" %}

{% block content %}
{% include "partials/breadcrumbs.html" -%}

<h1>{{ section.title }}</h1>

{{ section.description | markdown | safe }}

<div class="statement-container disclaimer">
        <strong class="title">
                <i class="icon"></i>
                Disclaimer
        </strong>
<p>These are taken from the notes <strong>I</strong> took in class. They are certain to have errors and incomplete sections. Do not take <strong>anything</strong> here as fact.</p>
</div>

{{ section.content | safe }}

<div id="article-list">
        {% for s in section.subsections %}
        {% set subsection = get_section(path=s, metadata_only=true) %}
        <article>
                <a class="link-page" href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
        </article>
        {% endfor %}
</div>

{% endblock content %}
